.article {
  margin: 0px auto 0px;
  box-sizing: border-box;
}

.article-title {
  padding-bottom: 6px;
  border-bottom: 1px solid #333333;
  clear: both;
  margin-right: 12px;
  margin-left: 12px;
  padding-top: 0px;
  margin-top: 0px;
}

.article-list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.article-list li {
  border-bottom: 1px dotted #333333;
  padding: 8px 0px;
  margin: 0px 12px;
}

.article-list li:last-child {
  border-bottom: medium none;
}

.article-list-date {
  padding: 0px 8px;
  color: #666666;
}

details[open] summary {
  border-bottom: 1px dotted #333333;
  margin: 0px 12px;
}

details summary::before {
  content: "▼";
}

details[open] summary::before {
  content: "▲";
}

summary {
  display: block;
  list-style: none;
  text-align: center;
}

summary::-webkit-details-marker {
  display:none;
}
