.label {
  margin: 0px 12px;
  padding: 3px 6px;
  border: 1px solid #333333;
  background: #656d78 none repeat scroll 0% 0%;
  color: white;
  text-align: center;
  white-space: nowrap;
  font-size: 0.6em;
  line-height: 1;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

.label_black {
  border: 1px solid #656d78;
  background: black none repeat scroll 0% 0%;
}

.label_red {
  border: 1px solid #5d9cec;
  background: red none repeat scroll 0% 0%;
}

.label_green {
  border: 1px solid #a0d468;
  background: lime none repeat scroll 0% 0%;
}

.label_blue {
  border: 1px solid #ffce54;
  background: blue none repeat scroll 0% 0%;
}
