/*
.character_panel {
  text-align: center;
  padding: 5px 10px;
  display: inline-block;
  border-bottom-width: 0px;
  border-bottom-style: none;
  border-top-style: none;
}
*/
/*
.character_image {
  text-align: center;
  width: 350px;
  height: 350px;
  border-radius: 15px;
  border-style: solid;
  border-width: 0px;
  object-fit: cover;
}
*/

.character_panel {
  text-align: center;
  padding: 10px;
  display: inline-block;
  width: calc(50% - 20px);
  height: calc(50% - 20px);
}

.character_name {
  position: relative;
  width: calc(50% - 20px);
  overflow: hidden;
}

.character_image {
  position: relative;
  width: calc(50% - 20px);
  padding-bottom: calc(50% - 20px);
  overflow: hidden;
}

.character_image > img {
  position: absolute;
  object-fit: cover;
  top: 0px;
  left: 0%;
  right: 0%;
  bottom: 0px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border-style: solid;
  border-width: 0px;
}
